$cloudy-color: #106fc7;
$rainy-color: #152636;
body {
    background: url("https://live.staticflickr.com/4833/45023948035_fe5849be14_b.jpg");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    line-height: 1;
    
}
.main {
  color: rgb(18, 74, 158)
}
.value {
  cursor: pointer;
}
.container {
  position: relative;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;
  vertical-align: center;
  width: 30%;
}

.message {
  color: red;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.search {
  width:100%;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
  border:none;
  &:focus {
    outline: 0;
    background-color: rgb(200, 233, 250);
  }
  &:hover {
    border: 2px solid #FFF;
    box-shadow: 0 0 2px 2px rgb(88, 86, 86);
  }
}
.weatherContainer {
  text-align: center;
  color:rgb(209, 209, 206);
  border: 3px solid rgb(154, 160, 154);
  border-bottom: 2px solid rgb(41, 40, 40);
  padding: 50px 20px;
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 900;
  opacity: .9;

}
.name {
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
}

.otherInfo {
  background-color: rgb(210, 214, 193);
  margin: 0;
  padding: 40px 0;
  ul {
    margin: 0;
    -moz-column-count: 3;
    -moz-column-gap: 50px;
    -webkit-column-count: 3;
    -webkit-column-gap: 50px;
    column-count: 3;
    column-gap: 50px;
    i {
      margin-left: 6px;
    }
    li {
      list-style: none;
    }
  }
  .info {
    margin-top: 15px;
  }
}

.city {
    font-size: 25px;
    font-weight: bold;
}
.name {
    margin-bottom: 50px;
}

.tempature {
    font-size: 55px;
    box-sizing: border-box;
}

// media queries
@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .otherInfo {
    ul {
      margin: 0;
      -moz-column-count: 3;
      -moz-column-gap: 10px;
      -webkit-column-count: 3;
      -webkit-column-gap: 10px;
      column-count: 3;
      column-gap: 10px;
    }
  }
}

@media only screen and (min-width:767px) and (max-width: 1020px) {
  .container {
    width: 50%;
  }

  .otherInfo {
    ul {
      margin: 0;
      -moz-column-count: 3;
      -moz-column-gap: 15px;
      -webkit-column-count: 3;
      -webkit-column-gap: 15px;
      column-count: 3;
      column-gap: 15px;
    }
  }
}