$cloudy-color: #106fc7;
$rainy-color: #152636;
body {
    background-color: rgb(16, 12, 37);
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    line-height: 1;
    
}
.container {
  position: relative;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;
  vertical-align: center;
  width: 40%;
}

.message {
  color: red;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.search {
  width:100%;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
}
.weatherContainer {
  color:white;
  border: 3px solid rgb(154, 160, 154);
  padding: 20px;
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
  opacity: .8;
  p,span {
    line-height: 0;
    -webkit-text-stroke-width: .9px;
    -webkit-text-stroke-color: rgb(107, 104, 104);
    letter-spacing: 2px;
  }
}

.name {
  font-weight: bold;
  font-size: 25px;
}

.otherInfo {
  background-color: white;
  margin: 0;
  padding: 20px 0;
  ul {
    margin: 0;
    -moz-column-count: 3;
    -moz-column-gap: 50px;
    -webkit-column-count: 3;
    -webkit-column-gap: 50px;
    column-count: 3;
    column-gap: 50px;
    i {
      margin-left: 6px;
    }
    li {
      list-style: none;
    }
  }
  .info {
    margin-top: 15px;
  }
}

.city {
    font-size: 25px;
    font-weight: bold;
}
.name {
    margin-bottom: 50px;
    margin-left: 20px;
}

.tempature {
    font-size: 55px;
    margin-left: 20px;
}

// animations 
@keyframes wind{
    0% {
      background-position: 0 200px, 0 300px, 100px 250px;
    }
    100% {
      background-position: 1000px 200px, 1200px 300px, 1100px 250px;
    }
  
  }